@model HTMLHelpers.Models.Product

@using HTMLHelpers.Models
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.TextBox("firstname")

@Html.TextBox("firstname", "Nikhita")

@Html.TextBox("firstname", "Vyshnavi", new { style = "background-color:red;color:black" })

@Html.TextBox("firstname", "", new { title = "Please Enter first name" })

@Html.TextArea("Comments", "", 5, 20, null)
<br />
<br />

@Html.DropDownList("Departments", new List<SelectListItem> {
    new SelectListItem { Text="IT",Value="1",Selected=true},
    new SelectListItem { Text="HR",Value="2"},
    new SelectListItem { Text="Payroll",Value="3"} }, "Select Department")

@Html.DropDownList("Departments", new List<SelectListItem> {
    new SelectListItem { Text="IT",Value="1"},
    new SelectListItem { Text="HR",Value="2"},
    new SelectListItem { Text="Payroll",Value="3"} }, "Select Department")


@Html.DropDownList("Products", ((List<Product>)ViewBag.Products).Select(p => new SelectListItem { Value = p.Id.ToString(), Text = p.Name }), "Select a Product")


<div>
    @if (ViewBag.Products != null)
    {
        foreach (var product in ViewBag.Products)
        {
            <label>
                <input type="radio" name="selectedProduct" value="@product.Id" class="radio-inline" />
                @product.Name
            </label>
            <br />
        }
    }
    else
    {
        <p>No products available.</p>
    }
</div>
<br />
@foreach (var product in (List<Product>)ViewBag.Products)
{
    <label>
        @Html.CheckBox("selectedProducts", new { value = product.Id })
        @product.Name
    </label>
    <br />
}

