@model Article_CustomAuth.Models.UserModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>



@using (Html.BeginForm("Register", "Accounts", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.password)
        @Html.PasswordFor(m => m.password, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
}

